.scroll {
  position: absolute;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
}
.scroll--down {
  bottom: rem(40px);
  left: 50%;
}
.scroll--left {
  top: 50%;
  left: rem(-20px);
  transform: rotate(90deg);
}
.scroll--right {
  top: 50%;
  right: rem(-20px);
  transform: rotate(270deg);
}

.scroll__img {
  width: 30px;
  height: 21px;
}