.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-height: rem(650px);
    
    &--align--top {
        justify-content: flex-start;
    }

    &--menu { /*в в нет, пути поменять перед заливкой на сайт*/
    background: url(../burgers-img/bg-color/bg-accordeon.png) center center no-repeat;
    background-size: cover;
    position: relative;
    }

    &--slider {
        background: linear-gradient(to bottom, #F9B43B 0%, #eb8d38 50%, #F9B43B 100%);
    }

    &--team {
        background: url(../burgers-img/bg-color/section-team.png) center center no-repeat;
        background-size: cover;
        position: relative;
    }
}

